In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [3]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [6]:
#Q1.what is the average pricce of all cars in the dataset?
average = df["Selling_Price"].mean()

-> This metric is useful for:

â€¢ Comparing individual car prices to the average

â€¢ Identifying outliers (very cheap or expensive cars)

â€¢ Segmenting cars into below-average and above-average price groups

In [7]:
print(f"  1.The average price of all the cars in the dataset is $ {average}")

  1.The average price of all the cars in the dataset is $ 4.661295681063123

In [8]:
#Q2.what is the most comman fuel type in the dataset?
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

â€¢ Helps understand market preferences or trends

â€¢ Useful for segmenting data by fuel type

â€¢ Can guide further analysis (e.g., comparing prices or mileage across fuel types)

In [9]:
df["Fuel_Type"].nunique()

3

This returns an integer representing the number of unique fuel categories (e.g., Petrol, Diesel, CNG, Electric). It helps assess the diversity of fuel options represented in the dataset.

-> Why this matters:

â€¢ Reveals how varied the dataset is in terms of fuel technology

â€¢ Useful for filtering or grouping data by fuel type

â€¢ Helps in understanding market representation and potential bias

In [10]:
comman_fueltype = df['Fuel_Type'].mode()[0]
print(f" 2.The most comman fuel type is {comman_fueltype}")

 2.The most comman fuel type is Petrol

-> Explanation:

â€¢ df['Fuel_Type'].mode() returns a Series of the most frequent values.

â€¢ [0] selects the first (and typically only) mode.

â€¢ The result is printed in a readable format.

-> Why this matters:

â€¢ Highlights the dominant fuel preference in the dataset.

â€¢ Useful for market analysis, inventory planning, or consumer trend insights.

â€¢ Can guide further segmentation or filtering of the data.

In [11]:
#Q3. what is the shape of the dataset?
print("3. Shape:", df.shape)

3. Shape: (301, 9)

-> Shape of the Dataset

â€¢ This step reveals the overall structure of the dataset by using the .shape attribute. It returns a tuple indicating the number of rows and columns in the DataFrame.

â€¢ Helps understand the datasetâ€™s size and complexity

â€¢ Useful for planning data cleaning, visualization, or modeling steps

â€¢ A quick check to ensure the dataset loaded correctly

In [12]:
#Q4.what are the dataset of the each  items of the datasets
print("\n4. Data types:\n", df.dtypes)
df.info()

4. Data types:
 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

-> Explanation:

â€¢ df.dtypes lists the data type of each column (e.g., int64, float64, object), helping you understand how data is stored.

â€¢ df.info() provides a summary including:

  Â° Number of non-null entries per column

  Â° Data types

  Â° Memory usage

  Â° Total number of rows and columns

-> Why this matters:

â€¢ Ensures data types are appropriate for analysis (e.g., numeric for calculations, object for categories)

â€¢ Helps identify missing values or potential data cleaning needs

â€¢ Useful for optimizing memory usage and performance

In [13]:
#Q5. how many cars have selling price greter than 8.4
df["Selling_Price"].unique()

array([ 3.35,  4.75,  7.25,  2.85,  4.6 ,  9.25,  6.75,  6.5 ,  8.75,
        7.45,  6.85,  7.5 ,  6.1 ,  2.25,  7.75,  3.25,  2.65,  4.9 ,
        4.4 ,  2.5 ,  2.9 ,  3.  ,  4.15,  6.  ,  1.95,  3.1 ,  2.35,
        4.95,  5.5 ,  2.95,  4.65,  0.35,  5.85,  2.55,  1.25,  1.05,
        5.8 , 14.9 , 23.  , 18.  , 16.  ,  2.75,  3.6 ,  4.5 ,  4.1 ,
       19.99,  6.95, 18.75, 23.5 , 33.  , 19.75,  4.35, 14.25,  3.95,
        1.5 ,  5.25, 14.5 , 14.73, 12.5 ,  3.49, 35.  ,  5.9 ,  3.45,
        3.8 , 11.25,  3.51,  4.  , 20.75, 17.  ,  7.05,  9.65,  1.75,
        1.7 ,  1.65,  1.45,  1.35,  1.2 ,  1.15,  1.11,  1.1 ,  1.  ,
        0.95,  0.9 ,  0.75,  0.8 ,  0.78,  0.72,  0.65,  0.6 ,  0.55,
        0.52,  0.51,  0.5 ,  0.48,  0.45,  0.42,  0.4 ,  0.38,  0.31,
        0.3 ,  0.27,  0.25,  0.2 ,  0.18,  0.17,  0.16,  0.15,  0.12,
        0.1 ,  5.75,  5.15,  7.9 ,  4.85, 11.75,  3.15,  6.45,  3.5 ,
        8.25,  5.11,  2.7 ,  6.15, 11.45,  3.9 ,  9.1 ,  4.8 ,  2.  ,
        5.35,  6.25,  5.95,  5.2 ,  3.75, 12.9 ,  5.  ,  5.4 ,  7.2 ,
       10.25,  8.5 ,  8.4 ,  9.15,  6.6 ,  3.65,  8.35,  6.7 ,  5.3 ,
       10.9 ,  8.65,  9.7 ,  2.1 ,  8.99,  7.4 ,  5.65, 10.11,  6.4 ,
        8.55,  9.5 , 11.5 ])

-> Explanation:

â€¢ df["Selling_Price"] > 8.4 filters rows where the price exceeds â‚¹8.4 lakhs.

â€¢ .shape[0] returns the number of such rows (i.e., cars).

â€¢ The result shows how many cars are in the higher price segment.

-> Why this matters:

â€¢ Helps identify premium vehicles in the dataset

â€¢ Useful for price-based segmentation or market targeting

â€¢ Can guide further analysis like comparing features or fuel types of expensive cars

In [14]:
x = df[df["Selling_Price"] >= 8.4].groupby("Car_Name").size()
print("\n 6. Cars having selling price greater than 8.4 \n", x)

 6. Cars having selling price greater than 8.4
 Car_Name
ciaz              1
city             13
corolla altis     3
creta             3
elantra           2
fortuner         11
innova            6
land cruiser      1
verna             2
vitara brezza     1
dtype: int64

In [15]:
#Q6. most expensive car in the dataset
#most expensive car
most_exp_car = df[df['Present_Price'] == df['Present_Price'].max()]
print("\n 6. Car with Highest Present Price:\n", most_exp_car[['Car_Name', 'Present_Price']])

 6. Car with Highest Present Price:
         Car_Name  Present_Price
86  land cruiser           92.6

-> Explanation:

â€¢ df['Present_Price'].max() finds the highest price in the dataset.

â€¢ The DataFrame is filtered to include only the row(s) where the present price matches this maximum.

â€¢ The result displays the car name and its present price.

-> Why this matters:

â€¢ Highlights the premium end of the dataset

â€¢ Useful for understanding pricing range and outliers

â€¢ Can guide further analysis like comparing features or resale value of high-end cars

In [16]:
#Q7. check for the null values inn the dataset
#3.missing  value
print("\n7. Missing values:\n", df.isnull().sum())

7. Missing values:
 Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

-> Explanation:

â€¢ df.isnull() returns a DataFrame of Boolean values indicating where data is missing.

â€¢ .sum() counts the number of True (i.e., missing) values per column.

-> Why this matters:

â€¢ Ensures data quality before analysis or modeling

â€¢ Helps decide whether to drop, fill, or impute missing values

â€¢ Critical for avoiding errors in calculations or visualizations

In [17]:
#Q8. check for the duplicate values in the dataset
print("\n 8. Duplicate records:", df.duplicated().sum())
print("\n 8. Duplicate records:", df.duplicated())

 8. Duplicate records: 2

 8. Duplicate records: 0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

-> Explanation:

â€¢ df.duplicated() returns a Boolean Series indicating whether each row is a duplicate of a previous one.

â€¢ .sum() counts the total number of True values, i.e., the number of duplicate rows.

-> Why this matters:

â€¢ Ensures data integrity and accuracy

â€¢ Prevents bias in statistical analysis or machine learning models

â€¢ Helps decide whether to drop or investigate repeated entries

In [18]:
df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [19]:
print(df[df.duplicated(keep = False)])

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
15    ertiga  2016           7.75          10.79       43000    Diesel
17    ertiga  2016           7.75          10.79       43000    Diesel
51  fortuner  2015          23.00          30.61       40000    Diesel
93  fortuner  2015          23.00          30.61       40000    Diesel

   Seller_Type Transmission  Owner
15      Dealer       Manual      0
17      Dealer       Manual      0
51      Dealer    Automatic      0
93      Dealer    Automatic      0

In [20]:
#Q9. Average Kms Driven
print("\n Average Kms Driven:", df['Kms_Driven'].mean())

 Average Kms Driven: 36947.20598006644

-> Explanation:

â€¢ .mean() computes the arithmetic average of the Kms_Driven values.

â€¢ The result reflects the central tendency of how much cars have been used.

-> Why this matters:

â€¢ Helps assess wear and tear across the dataset

â€¢ Useful for comparing usage patterns by car type, age, or fuel type

â€¢ Can guide pricing or maintenance analysis

In [21]:
#Q10.Average selling price by car model
print("\n 10. Avg Selling Price by Car:\n", df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending = False))

 10. Avg Selling Price by Car:
 Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Hero  Ignitor Disc      0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

-> Explanation:

â€¢ df.groupby('Car_Name') groups the dataset by each unique car model.

â€¢ ['Selling_Price'].mean() computes the average selling price for each group.

â€¢ .sort_values(ascending = False) sorts the results from highest to lowest average price.

-> Why this matters:

â€¢ Highlights which car models tend to sell for more

â€¢ Useful for identifying premium vs budget models

â€¢ Can guide pricing strategies, resale value analysis, or brand comparisons

In [22]:
#Q11 Percentage of cars by fuel type
fuel_present = df['Fuel_Type'].value_counts(normalize = True) * 100
print("\n 25. Percentage of cars by Fuel_Type:\n", fuel_present)

 25. Percentage of cars by Fuel_Type:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

-> Explanation:

â€¢ value_counts(normalize=True) returns the relative frequency of each fuel type as a proportion.

â€¢ Multiplying by 100 converts it into a percentage.

â€¢ The result shows what share of the dataset each fuel type occupies (e.g., Petrol: 60%, Diesel: 35%, CNG: 5%).

-> Why this matters:

â€¢ Reveals dominant fuel types in the dataset

â€¢ Useful for market trend analysis and segmentation

â€¢ Helps in comparing performance, pricing, or mileage across fuel types

In [23]:
#Q12. Number of cars manufactured before 2010
before_2010 = df[df['Year'] < 2010].shape[0]
print("\n Cars manufactured before 2010:", before_2010)

 Cars manufactured before 2010: 26

-> Explanation:

â€¢ df['Year'] < 2010 creates a Boolean mask for cars made before 2010.

â€¢ df[...] filters the dataset to include only those rows.

â€¢ .shape[0] returns the number of such rows (i.e., cars).

-> Why this matters:

â€¢ Helps identify older vehicles in the dataset

â€¢ Useful for analyzing depreciation, resale value, or emission standards

â€¢ Can guide segmentation by vehicle age or generation

before_2010 = df[df['Year'] < 2010]
print("\n Cars manufactured before 2010:", before_2010)

ðŸ“„ car_data.csv
This dataset contains detailed information about various cars, including specifications, performance metrics, and market attributes. It is structured in tabular format with each row representing a unique car model and each column capturing a specific feature.

> Common Columns (example)
- Make: Manufacturer of the car (e.g., Toyota, Ford)
- Model: Specific model name
- Year: Year of manufacture
- Engine_Size: Engine displacement in liters
- Horsepower: Power output of the engine
- Fuel_Type: Type of fuel used (e.g., Petrol, Diesel, Electric)
- Transmission: Gearbox type (e.g., Manual, Automatic)
- Price: Market price in USD or local currency
- Mileage: Fuel efficiency (e.g., km/l or mpg)

> Use Cases
- Analyzing car performance trends over time
- Comparing fuel efficiency across brands
- Predicting car prices using regression models
- Filtering cars by features for recommendation system